@charset "UTF-8";
/*
    font face
 */
@font-face {
  font-family: "ProximaNova-Light";
  src: url("../fonts/ProximaNova-Light.woff");
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/ProximaNova-Regular.woff");
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../fonts/ProximaNova-Semibold.woff");
}

/*
    general style
 */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "ProximaNova-Semibold", sans-serif;
  font-size: 18px;
  line-height: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#3d4e81), color-stop(48%, #5753c9), to(#6e7ff3));
  background: -o-linear-gradient(left, #3d4e81 0%, #5753c9 48%, #6e7ff3 100%);
  background: linear-gradient(90deg, #3d4e81 0%, #5753c9 48%, #6e7ff3 100%);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1365px) {
  .container {
    width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 979px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 94%;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
    min-width: 290px;
  }
}

a {
  display: block;
  text-decoration: none;
  text-align: center;
}

a:active, a:focus {
  outline: none;
}

img {
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1, h2 {
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
}

h3 {
  font-family: "ProximaNova-Light", sans-serif;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #ffeded;
}

@media (max-width: 576px) {
  h3 {
    font-size: 24px;
    line-height: 29px;
  }
}

h3 span {
  font-family: "ProximaNova-Semibold";
}

h4 {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #232557;
}

@media (max-width: 576px) {
  h4 {
    font-size: 20px;
    line-height: 25px;
  }
}

h6 {
  font-size: 15px;
  line-height: 18px;
}

h6 span {
  font-family: inherit;
  color: #9dcb3c;
}

h6 output {
  color: #ffc700;
}

span {
  font-family: "ProximaNova-Regular", sans-serif;
}

.delivery {
  max-width: 702px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.delivery h6 {
  color: #ffffff;
}

.delivery h6:nth-child(2) {
  position: relative;
}

.delivery h6:nth-child(2):before, .delivery h6:nth-child(2):after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #adff00;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.delivery h6:nth-child(2):before {
  left: -46px;
}

.delivery h6:nth-child(2):after {
  right: -46px;
}

.price span {
  font-family: "ProximaNova-Semibold", sans-serif;
}

.price span.old-price {
  font-size: 30px;
  line-height: 37px;
  color: #b3b5f8;
  display: inline-block;
  position: relative;
}

.price span.old-price:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #b3b5f8;
  position: absolute;
  top: 55%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.price span.old-price.small {
  font-size: 24px;
  line-height: 29px;
}

.price span.new-price {
  font-size: 48px;
  line-height: 58px;
  color: #adff00;
}

.price span.new-price.small {
  font-size: 40px;
  line-height: 49px;
  color: #9dcb3c;
}

.sale {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  padding: 32px 10px 24px 8px;
  background: #ffc700;
  -webkit-box-shadow: 0px 0px 30px #25269a;
          box-shadow: 0px 0px 30px #25269a;
  border-radius: 50%;
  position: relative;
}

.sale:before, .sale:after {
  content: "";
  display: block;
  background: #ffc700;
  -webkit-box-shadow: 0px 0px 30px #25269a;
          box-shadow: 0px 0px 30px #25269a;
  border-radius: 50%;
  position: absolute;
}

.sale:before {
  width: 17px;
  height: 17px;
}

.sale:after {
  width: 40px;
  height: 39px;
}

a.to-order, .form-group.order button {
  font-family: "ProximaNova-Semibold", sans-serif;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #5f62d7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 17px 0 14px;
  background: #adff00;
  -webkit-box-shadow: 0px 0px 30px #25269a;
          box-shadow: 0px 0px 30px #25269a;
  border: none;
  border-radius: 100px;
  -webkit-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

a.to-order:hover, .form-group.order button:hover {
  color: #ffffff;
  background: #b3b5f8;
}

a.to-order {
  max-width: 280px;
}

@media (max-width: 767px) {
  a.to-order {
    max-width: 380px;
  }
}

.gallery, .photo {
  position: relative;
  z-index: 15;
}

.gallery__content, .photo__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1899px) {
  .gallery__content, .photo__content {
    padding: 0 25px;
  }
}

@media (max-width: 979px) {
  .gallery__content, .photo__content {
    padding: 0 15px;
  }
}

.gallery__content a, .photo__content a {
  width: 19%;
  max-width: 300px;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px #25269a;
          box-shadow: 0px 0px 30px #25269a;
  position: relative;
}

@media (max-width: 979px) {
  .gallery__content a, .photo__content a {
    margin-bottom: 11px;
  }
}

@media (max-width: 576px) {
  .gallery__content a, .photo__content a {
    width: 48%;
    min-width: 138px;
  }
}

.gallery__content a img, .photo__content a img {
  width: 100%;
  border-radius: inherit;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.gallery__content a:after, .photo__content a:after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: url("../img/zoom.png") no-repeat center/cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.gallery__content a:hover img, .photo__content a:hover img {
  opacity: .6;
}

.gallery__content a:hover:after, .photo__content a:hover:after {
  opacity: 1;
}

a.bucket {
  width: 100px;
  height: 100px;
  background: #faff00;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 9999;
}

@media (max-width: 576px) {
  a.bucket {
    width: 80px;
    height: 80px;
  }
}

a.bucket:after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 48px;
  background: url("../img/bucket.png") no-repeat center/cover;
  top: 28px;
  left: 22px;
}

@media (max-width: 576px) {
  a.bucket:after {
    width: 40px;
    height: 38px;
    top: 22.4px;
    left: 17.6px;
  }
}

a.bucket:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.body-filter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: -5;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#3d4e81), color-stop(48%, #5753c9), to(#6e7ff3));
  background: -o-linear-gradient(left, #3d4e81 0%, #5753c9 48%, #6e7ff3 100%);
  background: linear-gradient(90deg, #3d4e81 0%, #5753c9 48%, #6e7ff3 100%);
  z-index: 99999;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.loader__snow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/snowflake1.png"), url("../img/snowflake2.png"), url("../img/snowflake3.png");
  -webkit-animation: snow 20s linear infinite;
          animation: snow 20s linear infinite;
}

@-webkit-keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

/*
    header style
 */
.header {
  padding: 20px 0 50px;
  position: relative;
}

@media (max-width: 979px) {
  .header {
    padding: 32px 0 27px;
  }
}

.header .delivery {
  position: relative;
  z-index: 9;
}

@media (max-width: 767px) {
  .header .delivery {
    display: none;
  }
}

.header__content {
  position: relative;
}

.header__content .price {
  position: absolute;
  top: 112px;
  left: 16.75%;
}

@media (max-width: 1199px) {
  .header__content .price {
    left: 7.75%;
  }
}

@media (max-width: 979px) {
  .header__content .price {
    top: 55px;
    left: 0;
  }
}

@media (max-width: 767px) {
  .header__content .price {
    position: static;
    text-align: center;
  }
}

.header__content .price span.new-price {
  display: block;
  margin-top: -9px;
}

.header__content h3 {
  text-align: left;
  position: absolute;
  top: 81px;
  right: 26.16%;
}

@media (max-width: 1199px) {
  .header__content h3 {
    right: 23.16%;
  }
}

@media (max-width: 979px) {
  .header__content h3 {
    right: 6.16%;
  }
}

@media (max-width: 767px) {
  .header__content h3 {
    position: static;
    text-align: center;
    margin: 8px auto -15px;
  }
}

@media (max-width: 576px) {
  .header__content h3 {
    font-size: 36px;
    line-height: 30px;
    margin-bottom: -8px;
  }
}

.header__content h3 span {
  display: block;
}

.header__content-img {
  position: relative;
  margin: -5px auto -64px;
}

@media (max-width: 767px) {
  .header__content-img {
    margin: 0 auto;
    width: 81%;
    min-width: 236px;
    max-width: 470px;
  }
}

.header__content-img figure {
  position: relative;
  z-index: 9;
}

.header__content-img figure img {
  -webkit-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

@media (max-width: 767px) {
  .header__content-img figure img {
    width: 100%;
  }
}

.header__content-img img.logo {
  position: absolute;
  top: 30.11%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 979px) {
  .header__content-img img.logo {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header__content-img img.logo {
    width: 122%;
    min-width: 290px;
    top: 41.36%;
  }
}

.header__content-img .sale {
  position: absolute;
  top: 22.1%;
  right: 19.58%;
}

@media (max-width: 979px) {
  .header__content-img .sale {
    top: 34.1%;
  }
}

@media (max-width: 767px) {
  .header__content-img .sale {
    top: 23%;
    right: 10%;
  }
}

@media (max-width: 576px) {
  .header__content-img .sale {
    top: 7.81%;
    right: -20px;
  }
}

.header__content-img .sale:before {
  top: -4px;
  left: -12px;
}

.header__content-img .sale:after {
  top: -36px;
  right: -30px;
}

.header__content a.to-order {
  margin: 0 auto;
  position: relative;
  z-index: 15;
}

.header__content h6 {
  text-align: center;
  color: #b3b5f8;
  margin-top: 17px;
}

@media (max-width: 979px) {
  .header__content h6 {
    margin-top: 14px;
  }
}

@media (max-width: 576px) {
  .header__content h6 {
    width: 76.2%;
    margin: 14px auto 0;
  }
}

.header__content:before, .header__content:after {
  content: "";
  display: block;
  position: absolute;
}

.header__content:before {
  width: 193px;
  height: 223px;
  background: url("../img/header/decor-first.png") no-repeat center/cover;
  top: 471px;
  left: -109.57px;
}

@media (max-width: 1365px) {
  .header__content:before {
    left: -25.57px;
  }
}

@media (max-width: 979px) {
  .header__content:before {
    width: 129px;
    height: 148px;
    left: 0;
  }
}

@media (max-width: 767px) {
  .header__content:before {
    top: 0;
    left: 0;
  }
}

@media (max-width: 576px) {
  .header__content:before {
    top: -60px;
    left: -67px;
  }
}

.header__content:after {
  width: 113px;
  height: 109px;
  background: url("../img/header/decor-second.png") no-repeat center/cover;
  top: 7.4px;
  right: -80.36px;
}

@media (max-width: 1365px) {
  .header__content:after {
    right: 0;
  }
}

@media (max-width: 979px) {
  .header__content:after {
    width: 99px;
    height: 95px;
    top: 3.4px;
  }
}

@media (max-width: 767px) {
  .header__content:after {
    top: 179.21px;
    left: 0;
  }
}

@media (max-width: 576px) {
  .header__content:after {
    top: 145px;
    left: -56px;
  }
}

.header:before {
  content: "";
  display: block;
  width: 100%;
  height: 1900px;
  background: url("../img/snowflakes.png") no-repeat center/cover;
  position: absolute;
  top: 0;
  left: 0;
}

/*
    advantages style
 */
.advantages {
  padding: 40px 0;
  position: relative;
  z-index: 20;
}

@media (max-width: 979px) {
  .advantages {
    padding: 0 0 43px;
  }
}

.advantages h3 {
  max-width: 746px;
  margin: 0 auto 42px;
}

.advantages__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 90px;
}

@media (max-width: 1365px) {
  .advantages__content {
    padding: 0 50px;
  }
}

@media (max-width: 1199px) {
  .advantages__content {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .advantages__content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.advantages__content-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 18%;
  max-width: 180px;
  padding: 27px 12px 15px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(20, 21, 98, 0.8);
          box-shadow: 0px 0px 10px rgba(20, 21, 98, 0.8);
  border-radius: 10px;
  text-align: center;
  position: relative;
}

@media (max-width: 1199px) {
  .advantages__content-block {
    width: 24%;
  }
}

@media (max-width: 767px) {
  .advantages__content-block {
    width: 48%;
    max-width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .advantages__content-block {
    width: 62%;
    min-width: 180px;
    margin: 0 auto 30px;
  }
}

.advantages__content-block p {
  color: #232557;
  margin-top: 10px;
}

.advantages__content-block:before, .advantages__content-block:after {
  content: "";
  display: block;
  position: absolute;
}

@media (max-width: 1365px) {
  .advantages__content-block:before, .advantages__content-block:after {
    display: none;
  }
}

.advantages__content-block:before {
  width: 100%;
  height: 100%;
  background: #9dcb3c;
  top: 0;
  left: 0;
  border-radius: inherit;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.advantages__content-block:after {
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.advantages__content-block:first-child:after {
  height: 81px;
  background: url("../img/advantages/1.png") no-repeat center/cover;
}

.advantages__content-block:nth-child(2):after {
  background: url("../img/advantages/2.png") no-repeat center/cover;
}

@media (max-width: 767px) {
  .advantages__content-block:nth-child(3) {
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .advantages__content-block:nth-child(3) {
    margin-bottom: 30px;
  }
}

.advantages__content-block:nth-child(3):after {
  background: url("../img/advantages/3.png") no-repeat center/cover;
}

@media (max-width: 767px) {
  .advantages__content-block:last-child {
    margin-bottom: 0;
  }
}

.advantages__content-block:last-child:after {
  background: url("../img/advantages/4.png") no-repeat center/cover;
}

.advantages__content-block:hover:before {
  height: 0;
}

.advantages__content-block:hover:after {
  opacity: 0;
}

/*
    gallery style
 */
.gallery {
  padding: 80px 0 51px;
}

@media (max-width: 979px) {
  .gallery {
    padding: 0 0 36px;
  }
}

.gallery__content a:first-child:before, .gallery__content a:nth-child(5):before {
  content: "";
  background: url("../img/gallery/decor-first.png") no-repeat center/cover;
  position: absolute;
  z-index: -1;
}

.gallery__content a:first-child:before {
  display: none;
}

@media (max-width: 979px) {
  .gallery__content a:first-child:before {
    display: block;
    width: 79px;
    height: 84px;
    top: -53.68px;
    left: -27.46px;
  }
}

.gallery__content a:nth-child(5):before {
  display: block;
  width: 157px;
  height: 137px;
  top: -90px;
  left: -34.72px;
}

@media (max-width: 979px) {
  .gallery__content a:nth-child(5):before {
    display: none;
  }
}

/*
    video style
 */
.video {
  padding: 43px 0 383px;
}

@media (max-width: 979px) {
  .video {
    padding: 23px 0 39.41px;
  }
}

.video__content {
  position: relative;
}

.video__content h3 {
  text-align: left;
  max-width: 418px;
}

@media (max-width: 979px) {
  .video__content h3 {
    max-width: 100%;
  }
}

.video__content figure {
  position: absolute;
}

@media (max-width: 979px) {
  .video__content figure {
    position: relative;
  }
}

.video__content figure.shoe {
  top: 17px;
  left: -43px;
  z-index: 11;
  pointer-events: none;
}

@media (max-width: 979px) {
  .video__content figure.shoe {
    top: 0;
    left: 0;
    margin: -165px auto -175px;
  }
}

@media (max-width: 767px) {
  .video__content figure.shoe {
    margin: -25% auto;
    max-width: 658px;
  }
}

@media (max-width: 576px) {
  .video__content figure.shoe {
    width: 136%;
    min-width: 395px;
    left: calc(50%);
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: -25% 0 -35%;
  }
}

@media (max-width: 767px) {
  .video__content figure.shoe img {
    width: 100%;
  }
}

.video__content figure.shoe:before {
  content: "";
  display: block;
  width: 191px;
  height: 179px;
  background: url("../img/video/decor.png") no-repeat center/cover;
  position: absolute;
  top: 269.98px;
  left: 90.23px;
  z-index: -1;
}

@media (max-width: 767px) {
  .video__content figure.shoe:before {
    top: 32%;
    left: 10%;
  }
}

@media (max-width: 576px) {
  .video__content figure.shoe:before {
    width: 123px;
    height: 121px;
    top: 35%;
    left: 12%;
  }
}

.video__content figure.clip {
  width: 800px;
  height: 481px;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 0px 30px #25269a);
          filter: drop-shadow(0px 0px 30px #25269a);
  overflow: hidden;
  cursor: pointer;
  top: 47px;
  right: -61px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .video__content figure.clip {
    -webkit-box-shadow: 0px 0px 30px #25269a;
            box-shadow: 0px 0px 30px #25269a;
  }
}

@media (max-width: 1365px) {
  .video__content figure.clip {
    width: 700px;
    height: 420px;
    right: 0;
  }
}

@media (max-width: 1199px) {
  .video__content figure.clip {
    width: 540px;
    height: 324px;
  }
}

@media (max-width: 979px) {
  .video__content figure.clip {
    width: 700px;
    height: 420px;
    top: 0;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .video__content figure.clip {
    width: 100%;
    max-width: 650px;
    height: auto;
    padding-bottom: 60%;
  }
}

.video__content figure.clip img {
  width: 100%;
}

.video__content figure.clip .video-play {
  width: 80px;
  height: 80px;
  background: url("../img/video/video-play.png") no-repeat center/cover;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 30px #25269a;
          box-shadow: 0px 0px 30px #25269a;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 767px) {
  .video__content figure.clip .video-play {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 576px) {
  .video__content figure.clip .video-play {
    width: 29px;
    height: 29px;
  }
}

.video__content figure.clip:hover .video-play {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
      -ms-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

/*
    catalog style
 */
.catalog {
  padding: 43px 0 180px;
}

@media (max-width: 979px) {
  .catalog {
    padding: 30px 0 142px;
  }
}

@media (max-width: 767px) {
  .catalog {
    position: relative;
    z-index: 15;
  }
}

@media (max-width: 767px) {
  .catalog .delivery {
    display: block;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .catalog .delivery h6:nth-child(2) {
    margin: 26px auto;
  }
  .catalog .delivery h6:nth-child(2):before, .catalog .delivery h6:nth-child(2):after {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .catalog .delivery h6:nth-child(2):before {
    top: -16px;
  }
  .catalog .delivery h6:nth-child(2):after {
    top: 28px;
  }
}

.catalog h3 {
  max-width: 598px;
  margin: 41px auto 53px;
}

@media (max-width: 979px) {
  .catalog h3 {
    margin: 45px auto 39px;
  }
}

.catalog__block {
  position: relative;
}

.catalog__block-model {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1000px;
  padding: 23px 20px 22px 28px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 30px #25269a;
          box-shadow: 0px 0px 30px #25269a;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  color: #686993;
}

@media (max-width: 979px) {
  .catalog__block-model {
    padding: 27px 15px 19px;
  }
}

.catalog__block-model__rating {
  width: 122px;
  height: 18px;
  position: absolute;
  top: 23px;
  right: 20px;
}

@media (max-width: 767px) {
  .catalog__block-model__rating {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    margin-bottom: 10.83px;
  }
}

@media (max-width: 576px) {
  .catalog__block-model__rating {
    text-align: left;
  }
}

.catalog__block-model__rating .empty {
  width: 100%;
  height: 100%;
  background: url("../img/catalog/star-empty.png") no-repeat center/cover;
  position: absolute;
  top: 0;
  left: 0;
}

.catalog__block-model__rating .full {
  position: absolute;
  width: 96px;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.catalog__block-model__rating .full:before {
  content: "";
  display: block;
  width: 122px;
  height: 18px;
  background: url("../img/catalog/star-full.png") no-repeat center/cover;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .catalog__block-model h4 {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .catalog__block-model h4 {
    text-align: left;
  }
}

.catalog__block-model h4 output {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.catalog__block-model ul {
  margin: 15px 0 0;
}

@media (max-width: 767px) {
  .catalog__block-model ul {
    max-width: 360px;
    margin: 15px auto 0;
  }
}

@media (max-width: 576px) {
  .catalog__block-model ul {
    margin: 15px 0 0;
  }
}

.catalog__block-model ul li {
  margin-bottom: 11.33px;
}

.catalog__block-model ul li:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .catalog__block-model .price {
    text-align: center;
    margin-bottom: 6px;
  }
}

@media (max-width: 576px) {
  .catalog__block-model .price {
    text-align: left;
  }
}

.catalog__block-model .price span.old-price {
  margin-left: 3px;
}

.catalog__block-model__img {
  width: 539px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 65px;
  right: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 979px) {
  .catalog__block-model__img {
    width: 270px;
  }
}

@media (max-width: 767px) {
  .catalog__block-model__img {
    position: static;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
}

.catalog__block-model__img a {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(20, 21, 98, 0.3));
          filter: drop-shadow(0px 0px 10px rgba(20, 21, 98, 0.3));
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .catalog__block-model__img a {
    -webkit-box-shadow: 0px 0px 30px #25269a;
            box-shadow: 0px 0px 30px #25269a;
  }
}

.catalog__block-model__img a img {
  width: 100%;
}

.catalog__block-model__img > a {
  width: 47.49%;
}

@media (max-width: 979px) {
  .catalog__block-model__img > a {
    display: none;
  }
}

.catalog__block-model__img figure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

@media (max-width: 979px) {
  .catalog__block-model__img figure {
    width: 100%;
  }
}

.catalog__block-model__img figure a {
  width: 48.14%;
}

@media (max-width: 767px) {
  .catalog__block-model__img figure a {
    width: 32%;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .catalog__block-model__img figure a {
    width: 48.14%;
    margin-bottom: 0;
  }
}

.catalog__block-model__img figure a:nth-child(3), .catalog__block-model__img figure a:nth-child(4) {
  margin: 10.28px 0;
}

@media (max-width: 767px) {
  .catalog__block-model__img figure a:nth-child(3), .catalog__block-model__img figure a:nth-child(4) {
    margin: 0;
  }
}

@media (max-width: 576px) {
  .catalog__block-model__img figure a:nth-child(3), .catalog__block-model__img figure a:nth-child(4) {
    margin: 10.11px 0;
  }
}

.catalog__block-model form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}

@media (max-width: 979px) {
  .catalog__block-model form {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .catalog__block-model form {
    display: block;
    max-width: 380px;
    margin: 24px auto 0;
  }
}

.catalog__block-model form .form-group {
  width: 28%;
  max-width: 260px;
}

@media (max-width: 1199px) {
  .catalog__block-model form .form-group {
    width: 27%;
  }
}

@media (max-width: 979px) {
  .catalog__block-model form .form-group {
    width: 32%;
  }
}

@media (max-width: 767px) {
  .catalog__block-model form .form-group {
    width: 100%;
    max-width: 100%;
  }
}

.catalog__block-model form .form-group input {
  font-family: "ProximaNova-Semibold", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #686993;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 21px 20px 16px;
  background: #eeeeff;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 3px rgba(37, 8, 37, 0.3);
          box-shadow: inset 0px 0px 3px rgba(37, 8, 37, 0.3);
}

.catalog__block-model form .form-group input::-webkit-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  opacity: 1;
}

.catalog__block-model form .form-group input::-moz-placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  opacity: 1;
}

.catalog__block-model form .form-group input:-ms-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  opacity: 1;
}

.catalog__block-model form .form-group input::-ms-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  opacity: 1;
}

.catalog__block-model form .form-group input::placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  opacity: 1;
}

.catalog__block-model form .form-group input:active, .catalog__block-model form .form-group input:focus, .catalog__block-model form .form-group input:required {
  outline: none;
}

@media (max-width: 767px) {
  .catalog__block-model form .form-group.tel {
    margin: 10px auto;
  }
}

.catalog__block-model form .form-group.order {
  max-width: 280px;
  position: absolute;
  bottom: -85px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1199px) {
  .catalog__block-model form .form-group.order {
    width: 30%;
  }
}

@media (max-width: 979px) {
  .catalog__block-model form .form-group.order {
    width: 100%;
    bottom: -90px;
  }
}

@media (max-width: 767px) {
  .catalog__block-model form .form-group.order {
    max-width: 380px;
  }
}

.catalog__block-model form .select-box {
  width: 28%;
  max-width: 260px;
}

@media (max-width: 1199px) {
  .catalog__block-model form .select-box {
    width: 27%;
  }
}

@media (max-width: 979px) {
  .catalog__block-model form .select-box {
    width: 32%;
  }
}

@media (max-width: 767px) {
  .catalog__block-model form .select-box {
    width: 100%;
    max-width: 100%;
  }
}

.catalog__block-model form .select-box .jq-selectbox {
  width: 100%;
}

.catalog__block-model form .select-box .jq-selectbox__select {
  font-family: "ProximaNova-Semibold", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #686993;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 21px 20px 16px;
  background: #eeeeff;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 3px rgba(37, 8, 37, 0.3);
          box-shadow: inset 0px 0px 3px rgba(37, 8, 37, 0.3);
}

.catalog__block-model form .select-box .jq-selectbox__select-text {
  width: 100% !important;
}

.catalog__block-model form .select-box .jq-selectbox__select:after {
  content: "";
  display: block;
  width: 10px;
  height: 9px;
  background: url("../img/catalog/arrow.png") no-repeat center/cover;
  position: absolute;
  top: 25.88px;
  right: 17.64px;
  pointer-events: none;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.catalog__block-model form .select-box .jq-selectbox__trigger {
  display: none;
}

.catalog__block-model form .select-box .jq-selectbox.opened .jq-selectbox__select:after {
  -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
          transform: scale(1, -1);
}

.catalog__block-model form .select-box .jq-selectbox__dropdown {
  font-family: "ProximaNova-Semibold", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #686993;
  width: 100% !important;
}

.catalog__block-model form .select-box .jq-selectbox__dropdown ul {
  margin: 0;
}

.catalog__block-model form .select-box .jq-selectbox__dropdown ul li {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 0;
}

.catalog__block-model form h6 {
  width: 14%;
  max-width: 127px;
  text-align: right;
}

@media (max-width: 979px) {
  .catalog__block-model form h6 {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-top: 16px;
  }
}

.catalog__block:before {
  /* скрыть на lg */
  content: "";
  display: block;
  position: absolute;
}

@media (max-width: 1199px) {
  .catalog__block:before {
    display: none;
  }
}

.catalog__block.trento .catalog__block-model__rating .full {
  width: 100%;
}

.catalog__block.trento .catalog__block-model ul {
  margin-bottom: 51px;
}

@media (max-width: 979px) {
  .catalog__block.trento .catalog__block-model ul {
    margin-bottom: 28px;
  }
}

.catalog__block.trento:before {
  width: 960px;
  height: 863px;
  background: url("../img/catalog/first.png") no-repeat center/cover;
  top: -282px;
  left: -348px;
}

.catalog__block.foggia {
  margin: 185px auto;
}

@media (max-width: 979px) {
  .catalog__block.foggia {
    margin: 140px auto;
  }
}

.catalog__block.foggia .catalog__block-model ul {
  margin-bottom: 16px;
}

.catalog__block.foggia .catalog__block-model .color {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .catalog__block.foggia .catalog__block-model .color {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 576px) {
  .catalog__block.foggia .catalog__block-model .color {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.catalog__block.foggia .catalog__block-model .color figure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
}

.catalog__block.foggia .catalog__block-model .color figure span {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.catalog__block.foggia .catalog__block-model .color figure span.brown {
  background: #644e50;
  border: 2px solid #fff;
  margin-right: 14px;
}

.catalog__block.foggia .catalog__block-model .color figure span.black {
  background: #000;
  border: 2px solid #fff;
}

.catalog__block.foggia .catalog__block-model .color figure span.active {
  border: 2px solid #9dcb3c;
}

.catalog__block.foggia:before {
  width: 891px;
  height: 862px;
  background: url("../img/catalog/second.png") no-repeat center/cover;
  top: -185px;
  right: -428.49px;
}

.catalog__block.vintage .catalog__block-model > span {
  display: block;
  max-width: 389px;
  margin: 30px 0 15px;
}

@media (max-width: 1199px) {
  .catalog__block.vintage .catalog__block-model > span {
    max-width: 359px;
  }
}

@media (max-width: 767px) {
  .catalog__block.vintage .catalog__block-model > span {
    max-width: 100%;
  }
}

.catalog__block.vintage .catalog__block-model form {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 979px) {
  .catalog__block.vintage .catalog__block-model form {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1199px) {
  .catalog__block.vintage .catalog__block-model form .form-group {
    width: 30%;
  }
}

@media (max-width: 979px) {
  .catalog__block.vintage .catalog__block-model form .form-group {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .catalog__block.vintage .catalog__block-model form .form-group {
    width: 100%;
  }
}

.catalog__block.vintage .catalog__block-model form .form-group.tel {
  margin-left: 15px;
}

@media (max-width: 767px) {
  .catalog__block.vintage .catalog__block-model form .form-group.tel {
    margin: 10px auto;
  }
}

.catalog__block.vintage .catalog__block-model form h6 {
  margin-left: auto;
}

.catalog__block.vintage:before {
  width: 921px;
  height: 830px;
  background: url("../img/catalog/third.png") no-repeat center/cover;
  top: -89px;
  left: -381px;
}

/*
    photo style
 */
.photo {
  padding: 85px 0 55px;
  position: relative;
  z-index: 9;
}

@media (max-width: 979px) {
  .photo {
    padding: 16px 0 31px;
  }
}

/*
    review style
 */
.review {
  padding: 21px 0 99.68px;
  position: relative;
  z-index: 9;
}

@media (max-width: 979px) {
  .review {
    padding: 24px 0 50.68px;
  }
}

.review__content {
  position: relative;
}

.review__content-slider {
  margin: 81px auto 94px;
}

@media (max-width: 979px) {
  .review__content-slider {
    margin: 29px auto 37.01px;
  }
}

@media (max-width: 767px) {
  .review__content-slider {
    max-width: 600px;
  }
}

.review__content-slider__item {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 40px;
}

@media (max-width: 979px) {
  .review__content-slider__item {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .review__content-slider__item {
    display: block !important;
  }
}

.review__content-slider__item figure {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
}

@media (max-width: 767px) {
  .review__content-slider__item figure {
    width: 100%;
  }
}

.review__content-slider__item figure span {
  color: #ffffff;
}

.review__content-slider__item figure p {
  color: #9dcb3c;
  margin-top: 18px;
}

@media (max-width: 979px) {
  .review__content-slider__item figure p {
    margin-top: 6px;
  }
}

.review__content-slider__item figure:nth-child(1) {
  padding-right: 60px;
}

@media (max-width: 979px) {
  .review__content-slider__item figure:nth-child(1) {
    padding-right: 25px;
  }
}

@media (max-width: 767px) {
  .review__content-slider__item figure:nth-child(1) {
    padding-right: 0;
  }
}

.review__content-slider__item figure:nth-child(2) {
  padding-left: 60px;
}

@media (max-width: 979px) {
  .review__content-slider__item figure:nth-child(2) {
    padding-left: 25px;
  }
}

@media (max-width: 767px) {
  .review__content-slider__item figure:nth-child(2) {
    padding-left: 0;
    margin-top: 39px;
  }
}

.review__content-nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .review__content-nav {
    padding: 0;
  }
}

.review__content-nav .prev-arrow, .review__content-nav .next-arrow {
  width: 15px;
  height: 27px;
  background: url("../img/arrow.png") no-repeat center/cover;
  cursor: pointer;
}

.review__content-nav .next-arrow {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.review__content h6 {
  color: #9dcb3c;
  text-decoration: underline;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.review__content h6:hover {
  text-decoration: none;
}

.review__content:before {
  content: "";
  display: block;
  width: 117px;
  height: 94px;
  background: url("../img/gallery/decor-second.png") no-repeat center/cover;
  position: absolute;
  top: -68px;
  left: -52px;
}

@media (max-width: 979px) {
  .review__content:before {
    display: none;
  }
}

/*
    footer style
 */
.footer {
  padding: 46px 0 16px;
  position: relative;
  z-index: 8;
}

@media (max-width: 979px) {
  .footer {
    padding: 80px 0 30px;
  }
}

.footer__content {
  position: relative;
}

.footer__content h3 {
  max-width: 746px;
  margin: 0 auto;
}

.footer__content h6 {
  text-align: center;
  color: #b3b5f8;
  margin: 9px auto 4px;
}

@media (max-width: 767px) {
  .footer__content h6 {
    margin: 11px auto 21px;
  }
}

.footer__content h6.address {
  margin: -11px auto 0;
  position: relative;
  z-index: 12;
}

@media (max-width: 767px) {
  .footer__content h6.address {
    margin: 32px auto 0;
  }
}

.footer__content h6.address a {
  display: inline-block;
  color: inherit;
}

.footer__content .price {
  position: absolute;
  top: 275px;
  left: 27.25%;
}

@media (max-width: 979px) {
  .footer__content .price {
    top: 185px;
    left: 15.25%;
  }
}

@media (max-width: 767px) {
  .footer__content .price {
    position: static;
    text-align: center;
    margin-bottom: 6px;
  }
}

.footer__content .price span.new-price {
  display: block;
  margin-top: -9px;
}

.footer__content-img {
  position: relative;
}

@media (max-width: 767px) {
  .footer__content-img {
    max-width: 542px;
    margin: 0 auto;
  }
}

@media (max-width: 979px) {
  .footer__content-img img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .footer__content-img img {
    position: relative;
    width: 137%;
    min-width: 400px;
    max-width: 750px;
    left: -16.89%;
    z-index: 12;
  }
}

.footer__content-img img.logo {
  position: absolute;
  top: 28.92%;
  left: -314px;
  z-index: -1;
}

@media (max-width: 1899px) {
  .footer__content-img img.logo {
    left: -74px;
  }
}

@media (max-width: 1365px) {
  .footer__content-img img.logo {
    top: 33.92%;
    left: 0;
    width: 500px;
  }
}

@media (max-width: 979px) {
  .footer__content-img img.logo {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .footer__content-img img.logo {
    top: 42.1%;
  }
}

.footer__content-img .sale {
  position: absolute;
  top: 38.56%;
  right: 20.66%;
}

@media (max-width: 979px) {
  .footer__content-img .sale {
    right: 7.66%;
  }
}

@media (max-width: 767px) {
  .footer__content-img .sale {
    top: 11.28%;
    left: 5%;
  }
}

@media (max-width: 576px) {
  .footer__content-img .sale {
    left: 0;
  }
}

.footer__content-img .sale:before {
  bottom: -32px;
  right: 0;
}

.footer__content-img .sale:after {
  top: -37px;
  right: -30px;
}

.footer__content a.to-order {
  position: absolute;
  bottom: 77px;
  right: 22.91%;
}

@media (max-width: 979px) {
  .footer__content a.to-order {
    bottom: 55px;
  }
}

@media (max-width: 767px) {
  .footer__content a.to-order {
    position: static;
    margin: 0 auto;
  }
}

.footer__content:before {
  /* скрыть на s */
  content: "";
  display: block;
  width: 128px;
  height: 159px;
  background: url("../img/footer/decor.png") no-repeat center/cover;
  position: absolute;
  top: 103px;
  right: 18.12px;
}

@media (max-width: 767px) {
  .footer__content:before {
    display: none;
  }
}

.footer:before, .footer:after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.footer:before {
  height: 941px;
  background: url("../img/footer/bg.png") no-repeat center/cover;
}

.footer:after {
  height: 1900px;
  background: url("../img/snowflakes.png") no-repeat center/cover;
  -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
          transform: scale(1, -1);
}

/*
    feedback style
 */
.feedback {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 750px;
  padding: 50px 0;
  background: #f7f7ff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateX(-90deg);
          transform: translate(-50%, -50%) rotateX(-90deg);
  z-index: -5;
  -webkit-transition: all 0.55s ease-in-out;
  -o-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out;
  opacity: 0;
}

@media (max-width: 979px) {
  .feedback {
    width: 668px;
    height: auto;
    max-height: 90%;
    overflow-y: scroll;
    padding: 60px 20px 50px;
  }
}

@media (max-width: 767px) {
  .feedback {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .feedback {
    width: 90%;
    min-width: 290px;
  }
}

.feedback span.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.feedback > p {
  line-height: 23px;
  color: #222;
  text-align: center;
  display: none;
}

.feedback > p:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: url("../img/mailing.png") no-repeat center/cover;
  margin: 0 auto 13px;
}

.feedback form {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 97px 0 50px;
  position: relative;
}

@media (max-width: 979px) {
  .feedback form {
    padding: 0;
  }
}

.feedback form .form-group {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.feedback form .form-group input {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 13px 20px 14px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #888;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.feedback form .form-group input::-webkit-input-placeholder {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group input::-moz-placeholder {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group input:-ms-input-placeholder {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group input::-ms-input-placeholder {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group input::placeholder {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group textarea {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #888;
  border-radius: 4px;
  resize: none;
}

.feedback form .form-group textarea::-webkit-input-placeholder {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group textarea::-moz-placeholder {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group textarea:-ms-input-placeholder {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group textarea::-ms-input-placeholder {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group textarea::placeholder {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group button {
  line-height: 21px;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 250px;
  padding: 14px 0 15px;
  background: #5b67c8;
  border: none;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 576px) {
  .feedback form .form-group button {
    display: block;
    margin: 0 auto;
  }
}

.feedback form .form-group button:hover {
  background: #4755cc;
}

.feedback form .form-group.name {
  width: 250px;
}

@media (max-width: 576px) {
  .feedback form .form-group.name {
    width: 100%;
  }
}

.feedback form .form-group.rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 14px;
  right: 150px;
}

@media (max-width: 767px) {
  .feedback form .form-group.rating {
    position: static;
    margin: 20px 0;
  }
}

.feedback form .form-group.rating p {
  color: #222;
  margin-right: 9px;
}

.feedback form .form-group.rating .rating__area {
  width: 98px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

.feedback form .form-group.rating .rating__area input {
  display: none;
}

.feedback form .form-group.rating .rating__area label.rating__item {
  cursor: pointer;
  position: relative;
}

.feedback form .form-group.rating .rating__area label.rating__item:hover ~ .rating__item {
  color: #ffffff;
}

.feedback form .form-group.rating .rating__area svg.rating__star {
  display: block;
  width: 18px;
  height: 17px;
  fill: currentColor;
  stroke: #444;
  stroke-width: 2px;
}

.feedback form .form-group.rating .rating__area:hover,
.feedback form .form-group.rating .rating__area .rating__control:nth-of-type(1):checked ~ .rating__item:nth-of-type(1),
.feedback form .form-group.rating .rating__area .rating__control:nth-of-type(2):checked ~ .rating__item:nth-of-type(-n+2),
.feedback form .form-group.rating .rating__area .rating__control:nth-of-type(3):checked ~ .rating__item:nth-of-type(-n+3),
.feedback form .form-group.rating .rating__area .rating__control:nth-of-type(4):checked ~ .rating__item:nth-of-type(-n+4),
.feedback form .form-group.rating .rating__area .rating__control:nth-of-type(5):checked ~ .rating__item:nth-of-type(-n+5) {
  color: #ffc107;
}

.feedback form .form-group.text {
  width: 603px;
  margin: 20px 0 30px;
}

@media (max-width: 979px) {
  .feedback form .form-group.text {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .feedback form .form-group.text {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
