/*
    gallery style
 */

.gallery {
  padding: 80px 0 51px;

  @include mq(md) {
    padding: 0 0 36px;
  }

  &__content {

    a {

      &:first-child, &:nth-child(5) {

        &:before {
          content: "";
          background: url("../img/gallery/decor-first.png") no-repeat center/cover;
          position: absolute;
          z-index: -1;
        }
      }

      &:first-child {

        &:before {
          display: none;

          @include mq(md) {
            display: block;
            width: 79px;
            height: 84px;
            top: -53.68px;
            left: -27.46px;
          }
        }
      }

      &:nth-child(5) {

        &:before {
          display: block;
          width: 157px;
          height: 137px;
          top: -90px;
          left: -34.72px;

          @include mq(md) {
            display: none;
          }
        }
      }
    }
  }
}