/*
    general style
 */

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  font-family: $sb, sans-serif;
  font-size: 18px;
  line-height: 20px;
  background: $gradient;
}

.container {
  width: 1200px;
  margin: 0 auto;

  @include mq(xl) {
    width: 1140px;
  }

  @include mq(lg) {
    width: 960px;
  }

  @include mq(md) {
    width: 720px;
  }

  @include mq(s) {
    width: 94%;
  }

  @include mq(xs) {
    width: 90%;
    min-width: 290px;
  }
}

a {
  display: block;
  text-decoration: none;
  text-align: center;

  &:active, &:focus {
    outline: none;
  }
}

img {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  user-select: none;
}

h1, h2 {
  font-size: 36px;
  line-height: 44px;
  color: $white;
}

h3 {
  font-family: $l, sans-serif;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $pale-red;

  @include mq(xs) {
    font-size: 24px;
    line-height: 29px;
  }

  span {
    font-family: $sb;
  }
}

h4 {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $dark-violet;

  @include mq(xs) {
    font-size: 20px;
    line-height: 25px;
  }
}

h6 {
  font-size: 15px;
  line-height: 18px;

  span {
    font-family: inherit;
    color: $green;
  }

  output {
    color: $orange;
  }
}

span {
  font-family: $r, sans-serif;
}

.delivery {
  max-width: 702px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  h6 {
    color: $white;

    &:nth-child(2) {
      position: relative;

      &:before, &:after {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        background: $bright-green;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      &:before {
        left: -46px;
      }

      &:after {
        right: -46px;
      }
    }
  }
}

.price {

  span {
    font-family: $sb, sans-serif;

    &.old-price {
      font-size: 30px;
      line-height: 37px;
      color: $pastel-purple;
      display: inline-block;
      position: relative;

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: $pastel-purple;
        position: absolute;
        top: 55%;
        left: 0;
        transform: translateY(-50%);
      }

      &.small {
        font-size: 24px;
        line-height: 29px;
      }
    }

    &.new-price {
      font-size: 48px;
      line-height: 58px;
      color: $bright-green;

      &.small {
        font-size: 40px;
        line-height: 49px;
        color: $green;
      }
    }
  }
}

.sale {
  box-sizing: border-box;
  width: 100px;
  padding: 32px 10px 24px 8px;
  background: $orange;
  box-shadow: $drop-shadow1;
  border-radius: 50%;
  position: relative;

  h1, h2 {

  }

  &:before, &:after {
    content: "";
    display: block;
    background: $orange;
    box-shadow: $drop-shadow1;
    border-radius: 50%;
    position: absolute;
  }

  &:before {
    width: 17px;
    height: 17px;
  }

  &:after {
    width: 40px;
    height: 39px;
  }
}

a.to-order, .form-group.order button {
  font-family: $sb, sans-serif;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $violet;
  box-sizing: border-box;
  width: 100%;
  padding: 17px 0 14px;
  background: $bright-green;
  box-shadow: $drop-shadow1;
  border: none;
  border-radius: 100px;
  transition: all 0.75s ease-in-out;

  &:hover {
    color: $white;
    background: $pastel-purple;

  }
}

a.to-order {
  max-width: 280px;

  @include mq(s) {
    max-width: 380px;
  }
}

.gallery, .photo {
  position: relative;
  z-index: 15;

  &__content {
    box-sizing: border-box;
    width: 100%;
    max-width: 1620px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mq(xxl) {
      padding: 0 25px;
    }

    @include mq(md) {
      padding: 0 15px;
    }

    a {
      width: 19%;
      max-width: 300px;
      margin-bottom: 30px;
      border-radius: 10px;
      box-shadow: $drop-shadow1;
      position: relative;

      @include mq(md) {
        margin-bottom: 11px;
      }

      @include mq(xs) {
        width: 48%;
        min-width: 138px;
      }

      img {
        width: 100%;
        border-radius: inherit;
        transition: all 0.5s ease-in-out;
      }

      &:after {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        background: url("../img/zoom.png") no-repeat center/cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.6s ease-in-out;
      }

      &:hover {

        img {
          opacity: .6;
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }
}

a.bucket {
  width: 100px;
  height: 100px;
  background: $yellow;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: all 0.5s ease-in-out;
  z-index: 9999;

  @include mq(xs) {
    width: 80px;
    height: 80px;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 48px;
    background: url("../img/bucket.png") no-repeat center/cover;
    top: 28px;
    left: 22px;

    @include mq(xs) {
      width: 40px;
      height: 38px;
      top: 22.4px;
      left: 17.6px;
    }
  }

  &:hover {
    transform: scale(1.2);
  }
}

.body-filter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: -5;
  transition: all 0.25s ease-in-out;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $gradient;
  z-index: 99999;
  transition: all 0.5s ease-in-out;

  &__snow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/snowflake1.png"), url("../img/snowflake2.png"), url("../img/snowflake3.png");
    animation: snow 20s linear infinite;
  }
}

@keyframes snow {
  0% {background-position: 0 0, 0 0, 0 0;}
  100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}