/*
    catalog style
 */

.catalog {
  padding: 43px 0 180px;

  @include mq(md) {
    padding: 30px 0 142px;
  }

  @include mq(s) {
    position: relative;
    z-index: 15;
  }

  .delivery {

    @include mq(s) {
      display: block;
      text-align: center;
    }

    h6 {

      &:nth-child(2) {

        @include mq(s) {
          margin: 26px auto;

          &:before, &:after {
            left: 50%;
            transform: translateX(-50%);
          }

          &:before {
            top: -16px;
          }

          &:after {
            top: 28px;
          }
        }
      }
    }
  }

  h3 {
    max-width: 598px;
    margin: 41px auto 53px;

    @include mq(md) {
      margin: 45px auto 39px;
    }
  }

  &__block {
    position: relative;

    &-model {
      box-sizing: border-box;
      max-width: 1000px;
      padding: 23px 20px 22px 28px;
      background: $white;
      box-shadow: $drop-shadow1;
      border-radius: 10px;
      margin: 0 auto;
      position: relative;
      color: $pastel-violet;

      @include mq(md) {
        padding: 27px 15px 19px;
      }

      &__rating {
        width: 122px;
        height: 18px;
        position: absolute;
        top: 23px;
        right: 20px;

        @include mq(s) {
          position: relative;
          top: 0;
          left: 0;
          text-align: center;
          margin-bottom: 10.83px;
        }

        @include mq(xs) {
          text-align: left;
        }

        .empty {
          width: 100%;
          height: 100%;
          background: url("../img/catalog/star-empty.png") no-repeat center/cover;
          position: absolute;
          top: 0;
          left: 0;
        }

        .full {
          position: absolute;
          width: 96px;
          height: 100%;
          top: 0;
          left: 0;
          overflow: hidden;

          &:before {
            content: "";
            display: block;
            width: 122px;
            height: 18px;
            background: url("../img/catalog/star-full.png") no-repeat center/cover;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }

      h4 {

        @include mq(s) {
          text-align: center;
        }

        @include mq(xs) {
          text-align: left;
        }

        output {
          transition: all 0.5s ease-in-out;
        }
      }

      ul {
        margin: 15px 0 0;

        @include mq(s) {
          max-width: 360px;
          margin: 15px auto 0;
        }

        @include mq(xs) {
          margin: 15px 0 0;
        }

        li {
          margin-bottom: 11.33px;

          p {

            span {

            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .price {

        @include mq(s) {
          text-align: center;
          margin-bottom: 6px;
        }

        @include mq(xs) {
          text-align: left;
        }

        span {

          &.old-price {
            margin-left: 3px;
          }
        }
      }

      &__img {
        width: 539px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 65px;
        right: 20px;
        transition: all 0.5s ease-in-out;

        @include mq(md) {
          width: 270px;
        }

        @include mq(s) {
          position: static;
          width: 100%;
          max-width: 600px;
          margin: 0 auto;
        }

        a {
          filter: drop-shadow($drop-shadow3);

          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            box-shadow: $drop-shadow1;
          }

          img {
            width: 100%;
          }
        }

        >a {
          width: 47.49%;

          @include mq(md) {
            display: none;
          }
        }

        figure {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 50%;

          @include mq(md) {
            width: 100%;
          }

          a {
            width: 48.14%;

            @include mq(s) {
              width: 32%;
              margin-bottom: 10px;
            }

            @include mq(xs) {
              width: 48.14%;
              margin-bottom: 0;
            }

            &:nth-child(3), &:nth-child(4) {
              margin: 10.28px 0;

              @include mq(s) {
                margin: 0;
              }

              @include mq(xs) {
                margin: 10.11px 0;
              }
            }
          }
        }
      }

      form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;

        @include mq(md) {
          flex-wrap: wrap;
        }

        @include mq(s) {
          display: block;
          max-width: 380px;
          margin: 24px auto 0;
        }

        .form-group {
          width: 28%;
          max-width: 260px;

          @include mq(lg) {
            width: 27%;
          }

          @include mq(md) {
            width: 32%;
          }

          @include mq(s) {
            width: 100%;
            max-width: 100%;
          }

          input {
            font-family: $sb, sans-serif;
            font-size: 15px;
            line-height: 18px;
            color: $pastel-violet;
            display: block;
            box-sizing: border-box;
            width: 100%;
            padding: 21px 20px 16px;
            background: $pale-violet;
            border: none;
            border-radius: 10px;
            box-shadow: $inner-shadow;

            &::placeholder {
              font-family: inherit;
              font-size: inherit;
              line-height: inherit;
              color: inherit;
              opacity: 1;
            }

            &:active, &:focus, &:required {
              outline: none;
            }
          }

          &.tel {

            @include mq(s) {
              margin: 10px auto;
            }
          }

          &.order {
            max-width: 280px;
            position: absolute;
            bottom: -85px;
            left: 50%;
            transform: translateX(-50%);

            @include mq(lg) {
              width: 30%;
            }

            @include mq(md) {
              width: 100%;
              bottom: -90px;
            }

            @include mq(s) {
              max-width: 380px;
            }
          }
        }

        .select-box {
          width: 28%;
          max-width: 260px;

          @include mq(lg) {
            width: 27%;
          }

          @include mq(md) {
            width: 32%;
          }

          @include mq(s) {
            width: 100%;
            max-width: 100%;
          }

          .jq-selectbox {
            width: 100%;

            &__select {
              font-family: $sb, sans-serif;
              font-size: 15px;
              line-height: 18px;
              color: $pastel-violet;
              box-sizing: border-box;
              width: 100%;
              height: auto;
              padding: 21px 20px 16px;
              background: $pale-violet;
              border: none;
              border-radius: 10px;
              box-shadow: $inner-shadow;

              &-text {
                width: 100% !important;
              }

              &:after {
                content: "";
                display: block;
                width: 10px;
                height: 9px;
                background: url("../img/catalog/arrow.png") no-repeat center/cover;
                position: absolute;
                top: 25.88px;
                right: 17.64px;
                pointer-events: none;
                transition: all 0.5s ease-in-out;
              }
            }

            &__trigger {
              display: none;
            }

            &.opened {

              .jq-selectbox__select {

                &:after {
                  transform: scale(1, -1);
                }
              }
            }

            &__dropdown {
              font-family: $sb, sans-serif;
              font-size: 15px;
              line-height: 18px;
              color: $pastel-violet;
              width: 100% !important;

              ul {
                margin: 0;

                li {
                  font-family: inherit;
                  font-size: inherit;
                  line-height: inherit;
                  margin-bottom: 0;
                }
              }
            }
          }
        }

        h6 {
          width: 14%;
          max-width: 127px;
          text-align: right;

          @include mq(md) {
            width: 100%;
            max-width: 100%;
            text-align: center;
            margin-top: 16px;
          }
        }
      }
    }

    &:before {
      /* скрыть на lg */
      content: "";
      display: block;
      position: absolute;

      @include mq(lg) {
        display: none;
      }
    }

    &.trento {

      .catalog__block-model {

        &__rating {

          .full {
            width: 100%;
          }
        }

        ul {
          margin-bottom: 51px;

          @include mq(md) {
            margin-bottom: 28px;
          }
        }
      }

      &:before {
        width: 960px;
        height: 863px;
        background: url("../img/catalog/first.png") no-repeat center/cover;
        top: -282px;
        left: -348px;
      }
    }

    &.foggia {
      margin: 185px auto;

      @include mq(md) {
        margin: 140px auto;
      }

      .catalog__block-model {
        ul {
          margin-bottom: 16px;
        }

        .color {
          margin-bottom: 15px;
          display: flex;

          @include mq(s) {
            justify-content: center;
          }

          @include mq(xs) {
            justify-content: flex-start;
          }

          p {

          }

          figure {
            display: flex;
            margin-left: 15px;

            span {
              display: block;
              box-sizing: border-box;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              cursor: pointer;
              transition: all 0.5s ease-in-out;

              &.brown {
                background: #644e50;
                border: 2px solid #fff;
                margin-right: 14px;
              }

              &.black {
                background: #000;
                border: 2px solid #fff;
              }

              &.active {
                border: 2px solid $green;
              }
            }
          }
        }
      }

      &:before {
        width: 891px;
        height: 862px;
        background: url("../img/catalog/second.png") no-repeat center/cover;
        top: -185px;
        right: -428.49px;
      }
    }

    &.vintage {

      .catalog__block-model {

        >span {
          display: block;
          max-width: 389px;
          margin: 30px 0 15px;

          @include mq(lg) {
            max-width: 359px;
          }

          @include mq(s) {
            max-width: 100%;
          }
        }

        form {
          justify-content: flex-start;

          @include mq(md) {
            justify-content: center;
          }

          .form-group {

            @include mq(lg) {
              width: 30%;
            }

            @include mq(md) {
              width: 50%;
            }

            @include mq(s) {
              width: 100%;
            }

            &.tel {
              margin-left: 15px;

              @include mq(s) {
                margin: 10px auto;
              }
            }
          }

          h6 {
            margin-left: auto;
          }
        }
      }

      &:before {
        width: 921px;
        height: 830px;
        background: url("../img/catalog/third.png") no-repeat center/cover;
        top: -89px;
        left: -381px;
      }
    }
  }
}