/*
    header style
 */

.header {
  padding: 20px 0 50px;
  position: relative;

  .delivery {
    position: relative;
    z-index: 9;
  }

  &__content {
    position: relative;

    .price {
      position: absolute;
      top: 112px;
      left: 16.75%;

      span {

        &.new-price {
          display: block;
          margin-top: -9px;
        }
      }
    }

    h3 {
      text-align: left;
      position: absolute;
      top: 81px;
      right: 26.16%;

      span {
        display: block;
      }
    }

    &-img {
      position: relative;
      margin: -5px auto -64px;

      figure {
        position: relative;
        z-index: 9;
      }

      img.logo {
        position: absolute;
        top: 30.11%;
        left: 50%;
        transform: translateX(-50%);
      }

      .sale {
        position: absolute;
        top: 22.1%;
        right: 19.58%;

        &:before {
          top: -4px;
          left: -12px;
        }

        &:after {
          top: -36px;
          right: -30px;
        }
      }
    }

    a.to-order {
      margin: 0 auto;
      position: relative;
      z-index: 15;
    }

    h6 {
      text-align: center;
      color: $pastel-purple;
      margin-top: 17px;
    }
  }

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 1900px;
    background: url("../img/snowflakes.png") no-repeat center/cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}