/*
    video style
 */

.video {
  padding: 43px 0 383px;

  @include mq(md) {
    padding: 23px 0 39.41px;
  }

  &__content {
    position: relative;

    h3 {
      text-align: left;
      max-width: 418px;

      @include mq(md) {
        max-width: 100%;
      }
    }

    figure {
      position: absolute;

      @include mq(md) {
        position: relative;
      }

      &.shoe {
        top: 17px;
        left: -43px;
        z-index: 11;
        pointer-events: none;

        @include mq(md) {
          top: 0;
          left: 0;
          margin: -165px auto -175px;
        }

        @include mq(s) {
          margin: -25% auto;
          max-width: 658px;
        }

        @include mq(xs) {
          width: 136%;
          min-width: 395px;
          left: calc(50%);
          transform: translateX(-50%);
          margin: -25% 0 -35%;
        }

        img {

          @include mq(s) {
            width: 100%;
          }
        }

        &:before {
          content: "";
          display: block;
          width: 191px;
          height: 179px;
          background: url("../img/video/decor.png") no-repeat center/cover;
          position: absolute;
          top: 269.98px;
          left: 90.23px;
          z-index: -1;

          @include mq(s) {
            top: 32%;
            left: 10%;
          }

          @include mq(xs) {
            width: 123px;
            height: 121px;
            top: 35%;
            left: 12%;
          }
        }
      }

      &.clip {
        width: 800px;
        height: 481px;
        border-radius: 10px;
        filter: drop-shadow($drop-shadow1);
        overflow: hidden;
        cursor: pointer;
        top: 47px;
        right: -78px;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          box-shadow: $drop-shadow1;
        }

        @include mq(xl) {
          width: 700px;
          height: 420px;
          right: 0;
        }

        @include mq(lg) {
          width: 540px;
          height: 324px;
        }

        @include mq(md) {
          width: 700px;
          height: 420px;
          top: 0;
          margin: 0 auto;
        }

        @include mq(s) {
          width: 100%;
          max-width: 650px;
          height: auto;
          padding-bottom: 60%;
        }

        img {
          width: 100%;
        }

        .video-play {
          width: 80px;
          height: 80px;
          background: url("../img/video/video-play.png") no-repeat center/cover;
          border-radius: 50%;
          box-shadow: $drop-shadow1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          pointer-events: none;
          transition: all 0.5s ease-in-out;

          @include mq(s) {
            width: 50px;
            height: 50px;
          }

          @include mq(xs) {
            width: 29px;
            height: 29px;
          }
        }

        &:hover {

          .video-play {
            transform: translate(-50%, -50%) scale(1.2);
          }
        }
      }
    }

  }
}